@media (max-width: 767px) {
    .img-cart {
      width: 50px;
      height: auto;
    }
    
    td {
      font-size: 12px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .img-cart {
      width: 75px;
      height: auto;
    }
    
    td {
      font-size: 14px;
    }
  }
  
  @media (min-width: 992px) {
    .img-cart {
      width: 100px;
      height: auto;
    }
    
    td {
      font-size: 16px;
    }
  }
  
  